#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Facebook
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=kippjfofjhjlffjecoapiogbkgbpmgej
Icon=chrome-kippjfofjhjlffjecoapiogbkgbpmgej-Profile_1
StartupWMClass=crx_kippjfofjhjlffjecoapiogbkgbpmgej
